.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-right: 100px;
  width: 70%;
  border-radius: 8px;
  margin-top: 50px;
  padding: 20px;
}

.inputField,
.descriptionField {
  width: 500px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  margin: 20px;
  outline: none;
}

.voteSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80px;
  justify-content: space-evenly;
  background-color: lightgray;
  border-radius: 6px;
  padding: 4px;
  margin-top: 15px;
}

.voteSection div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  color: black;
}

.voteSection img {
  cursor: pointer;
}

.addCommentContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.hh2 {
  font-size: 20px;
}

.hh3 {
  font-size: 16px;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .card {
    width: 80%;
  }

  .inputField,
  .descriptionField {
    width: 70%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .card {
    width: 90%;
    margin-right: 30px;
  }

  .inputField,
  .descriptionField {
    width: 75%;
  }
}

@media only screen and (max-width: 599px) {
  .card {
    min-width: 95%;
    margin-right: 5px;
    word-wrap: break-word;
  }

  .inputField,
  .descriptionField {
    max-width: 80%;
    width: 80%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .inputField,
  .descriptionField {
    width: 70%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .inputField,
  .descriptionField {
    width: 75%;
  }
}

@media only screen and (max-width: 599px) {
  .inputField,
  .descriptionField {
    max-width: 80%;
    width: 80%;
  }
}
